<% layout("layouts/boilerplate.ejs") %>
<div class="container mt-5 mb-5">
	<div class="row justify-content-center">
		<div class="col-md-6 col-lg-4 col-10 border p-4 shadow-sm rounded">
			<form action="/signup" method="post" novalidate class="needs-validation">
				<h3 class="text-center mb-4">User Signup</h3>
				<div class="mb-3">
					<label for="username" class="form-label">Username</label>
					<input
						id="username"
						type="text"
						name="username"
						class="form-control"
						required
					/>
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">Username is mandatory!</div>
				</div>
				<div class="mb-3">
					<label for="email" class="form-label">Email</label>
					<input
						id="email"
						type="email"
						name="email"
						class="form-control"
						required
					/>
					<div class="invalid-feedback">Email is mandatory!</div>
				</div>
				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input
						id="password"
						type="password"
						name="password"
						class="form-control"
						required
					/>
					<div class="invalid-feedback">Password is mandatory!</div>
				</div>
				<div class="d-grid">
					<button class="btn btn-primary mt-3">Signup</button>
				</div>
			</form>
		</div>
	</div>
</div>
